@font-face {
  font-family: "chalkfont";
  src: url("chalkfont.ttf") format("truetype");
}

* {
  font-family: "chalkfont";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 99%vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainContainer {
  min-height: 50rem;
  background: url("/public/images/main-bgrd.png");
  background-size: 95% 99%; /* set back to 100% 100% after we resolve the background color and have it match the header/footer */
  background-position: center center; /* Center the background image horizontally and vertically */
  background-repeat: no-repeat; 
  background-color:  #1fc3fa;
  border-radius: 25%px; 
}

.contentOnly {
  margin: 0 5rem;
}



/* @media screen and (max-width: 650px) {

  }
} */