/* GameNavBar.css */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1d0101;
    color: white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 1rem;
    margin: 0;
  }
  
  .gamenav-item {
    margin: 0 10px;
  }
  
  .gamenav-item a {
    text-decoration: none;
    color: white; /* Default link color */
  }
  
  .gamenav-item a:hover {
    color: yellow; /* Change link color on hover */
  }
  
  
