/* Navbar.css */
#navbar {
  background-color: #290c0c;
  color: white;
  padding: 2%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-item {
  list-style: none;
  margin: 0 10px;
}

#navbar-menu {
  text-decoration: none;
  color: white;
}
.nav-descriptive-image {
  width: 10rem;
  align-self: center;
}
