.spelling-game {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    background-color: #6ed5e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .spelling-game h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .spelling-game p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .spelling-game button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .spelling-game button:hover {
    background-color: #0056b3;
  }
  
  .spelling-game .spoken-word-container {
    margin: 20px 0;
    font-size: 20px;
  }
  

  .message-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .message {
    color: red !important; 
  }